.searchBox {
  background-color: darkblue;
  display: flex;
  height: 50px;
}

.searchInput {
  background: transparent;
  border: none;
  text-align: center;
}

.logo {
  width: 350px;
  background-image: url("../../../public/Marvel_Logo.jpg ");
  background-size: contain;
  background-repeat: no-repeat;
}
